  <header id="header" class="header">
    <div class="header-top uk-clearfix uk-visible-large">
      <div class="uk-container">
        <div class="tel uk-float-left">
          <a href="tel:+78003405095">8 800 340 50 59</a>
          <span>(бесплатный звонок)</span>
        </div>
        <div class="auth uk-float-right">
          <a href="" class="enter">Войти</a>
          <span>или</span>
          <a href="" class="reg">Зарегистрироваться</a>
        </div>
      </div>
    </div>

    <div id="header-bottom" class="header-bottom uk-visible-large {{paddingRemove}}">
      <div class="uk-container {{borderBold}}">
        <div id="nav-wrapper" class="uk-grid uk-grid-collapse">
          <div class="uk-width-1-10">
            <a href="/" class="logo">
              <img src="img/logo.svg" alt="">
            </a>
          </div>
          <div class="uk-width-8-10">
            <nav class="uk-nav">
              <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="{justify: '#header', delay: 0, remaintime: 50}">
                  <a href="">Новинки</a>
                  <div class="uk-dropdown uk-dropdown-navbar">
                    <div class="uk-container uk-container-small">
                      <ul class="uk-grid dropdown-list">
                        <li class="uk-width-2-10">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-2-10">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-2-10">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-2-10">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-2-10">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="uk-parent" data-uk-dropdown="{justify: '#header', delay: 0, remaintime: 50}">
                  <a href="">Бренды</a>
                  <div class="uk-dropdown uk-dropdown-navbar">
                    <div class="uk-container uk-container-small">
                      <ul class="uk-grid dropdown-list uk-grid-collapse">
                        <li class="uk-width-1-4">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-1-4">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-1-4">
                          <a href="" class="dropdown-title">LookBook</a>
                          <ul class="sublist">
                            <li><a href="#">Хиты весеннего сезона</a></li>
                            <li><a href="#">Лучшие луки из кашемира</a></li>
                            <li><a href="#">Самые смелые цветовые сочетания</a></li>
                          </ul>
                        </li>
                        <li class="uk-width-1-4">
                          <div class="nav-img">
                            <a href="">
                              <img src="img/dropdown-menu-img-255x340.png" alt="">
                            </a>
                            <a href="" class="nav-img-subtitle">Новый бренд <span>CHINTY & PARKER</span></a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="uk-parent"><a href="#">Мужское</a></li>
                <li class="uk-parent"><a href="#">Женское</a></li>
                <li class="uk-parent"><a href="#">Распродажа</a></li>
                <li class="uk-parent"><a href="#">Идеи по стилю</a></li>
              </ul>
            </nav>
          </div>
          <div class="uk-width-1-10">
            <div class="header-bottom-controls">
              <ul>
                <li>
                  <a href="#search-form" class="control-icon icon-loop" data="search-form">
                  </a>
                </li>
                <li>
                  <a href="#" class="control-icon icon-basket">
                    <span class="basket-count">4</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="control-icon icon-heart">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu uk-hidden-large">
      <div class="uk-container {{borderBold}}">
        <div class="uk-grid uk-grid-collapse">
          <div class="uk-width-1-2">
            <a href="/" class="logo">
              <img src="img/icon-svg/mobile-logo.svg" alt="">
            </a>
            <div class="mobile-tel">
              <a href="tel:+78003405095">8 800 340 50 95</a>
              <span>(бесплатный звонок)</span>
            </div>
          </div>
          <div class="uk-width-1-2">
            <div class="uk-subnav uk-float-right">
              <ul>
                <li><a href="" class="control-icon icon-loop mobile-search"></a></li>
                <li>
                  <a href="#" class="control-icon icon-basket">
                    <span class="basket-count">4</span>
                  </a>
                </li>
                <li><a href="#" class="control-icon icon-heart"></a></li>
                <li><a href="#offcanvas-menu" data-uk-offcanvas class="control-icon icon-menu-mobile"></a></li>
              </ul>
            </div>
          </div>

          <div id="offcanvas-menu" class="uk-offcanvas">
              <div class="uk-offcanvas-bar">
                  <div class="uk-panel">
                    <ul class="uk-nav">
                        <li class="uk-active">
                          <a href="">О Бренде</a>
                        </li>
                        <li><a href="">Каталог</a></li>
                        <li>
                          <a href="">
                            Покупателям
                            <i class="js__menu-sublist-toggle"></i>
                          </a>
                          <ul class="menu-sublist">
                            <li><a href="">Франчайзинг</a></li>
                            <li><a href="">Оптовые продажи</a></li>
                            <li><a href="">СМИ</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="">
                            Сотрудничество
                            <i class="js__menu-sublist-toggle"></i>
                          </a>
                          <ul class="menu-sublist">
                            <li><a href="">Lorem ipsum</a></li>
                            <li><a href="">Lorem ipsum</a></li>
                            <li><a href="">Lorem ipsum</a></li>
                          </ul>
                        </li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <form action="" class="mobile-form" method="post">
            <input type="text" class="mobile-search" name="mobile-search">
            <button type="submit" class="mobile-button"></button>
          </form>
        </div>
      </div>
    </div>

    {% if main == false %}
      {% include "../includes/breadcrumbs.html" %}
    {% endif %}
  </header>
