{% extends "layouts/default.html" %}
{% set title="Блог детальная" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Блог", "Музыка это исскуство которое должно быть доступно всем"] %}
{% set main = false %}
{% block content %}
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="blog-detail">
        <div class="banner">
          <img src="img/blog-detail-1140-520.png" alt="">
        </div>
        <div class="blog-detail-inner">
          <div class="date">19 ноября 2017</div>
          <div class="title">
            Музыка это исскуство которое должно быть доступно всем
          </div>
          <div class="header-text">
            Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
          </div>
          <p>Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
          <blockquote>
            Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога
            <span>Автор цитаты Андрей Смирнов</span>
          </blockquote>
          
          <div class="cart-wrapper">
            <div class="cart">
              <div class="cart-img">
                <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                <div class="cart-status">
                  <div class="new">Новинка</div>
                  <div class="discount">Скидка</div>
                </div>
                <div class="action-wrapper">
                  <div class="favorites">
                    <a href="" class="checked-favorites"></a>
                  </div>
                  <ul class="brand-color-list">
                    <li>
                      <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--blue" data-color="Синий"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                    </li>
                  </ul>
                </div>
                <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
              </div>
              <div class="cart-brands">
                <div class="cart-brand-name">
                  <a href="">H&M</a>
                </div>
                <div class="cart-product-name">
                  <a href="">Брюки стретч High waist</a>
                </div>
              </div>
              <div class="cart-coast">
                <span class="old-coast">4 590 р.</span>
                <span class="coast">1 099 р.</span>
              </div>
            </div>
            <div class="cart">
              <div class="cart-img">
                <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                <div class="cart-status">
                  <div class="new">Новинка</div>
                  <div class="discount">Скидка</div>
                </div>
                <div class="action-wrapper">
                  <div class="favorites">
                    <a href=""></a>
                  </div>
                  <ul class="brand-color-list">
                    <li>
                      <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--blue" data-color="Синий"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                    </li>
                  </ul>
                </div>
                <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
              </div>
              <div class="cart-brands">
                <div class="cart-brand-name">
                  <a href="">H&M</a>
                </div>
                <div class="cart-product-name">
                  <a href="">Брюки стретч High waist</a>
                </div>
              </div>
              <div class="cart-coast">
                <span class="old-coast">4 590 р.</span>
                <span class="coast">1 099 р.</span>
              </div>
            </div>
            <div class="cart">
              <div class="cart-img">
                <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                <div class="cart-status">
                  <div class="new">Новинка</div>
                  <div class="discount">Скидка</div>
                </div>
                <div class="action-wrapper">
                  <div class="favorites">
                    <a href=""></a>
                  </div>
                  <ul class="brand-color-list">
                    <li>
                      <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--blue" data-color="Синий"></a>
                    </li>
                    <li>
                      <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                    </li>
                  </ul>
                </div>
                <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
              </div>
              <div class="cart-brands">
                <div class="cart-brand-name">
                  <a href="">H&M</a>
                </div>
                <div class="cart-product-name">
                  <a href="">Брюки стретч High waist</a>
                </div>
              </div>
              <div class="cart-coast">
                <span class="old-coast">4 590 р.</span>
                <span class="coast">1 099 р.</span>
              </div>
            </div>
          </div>
          <div class="title-h2">Заголовок второго уровня</div>
          <p>Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
          <ul>
            <li>
              Душа моя озарена неземной радостьюкак эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
            </li>
            <li>
              Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. 
            </li>
          </ul>
          <div class="title-h2">Заголовок второго уровня</div>
          <p>Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!</p>
          <ol>
            <li>
              Душа моя озарена неземной радостьюкак эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца
            </li>
            <li>
              Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.
            </li>
          </ol>
          <a href="" class="tags">Мода</a>
          <a href="" class="tags">Новости</a>
          <div class="soc-links-wrapper">
            <ul>
              <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-slider no-border">
          <div class="title">Еще по теме</div>
          <div class="blog-detail-slider">
            <div class="slide">
              <div class="post">
                <div class="post-img">
                  <a href=""><img src="img/blog-small-banner-1-360x275.png" width="360" height="275" alt=""></a>
                </div>
                <div class="post-title">
                  <a href="">
                    Скидки до 90% на актуальные коллекции!
                  </a>
                </div>
                <div class="post-tags">
                  <a href="">Мода</a>
                  <a href="">Путешествия</a>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="post">
                <div class="post-img">
                  <a href=""><img src="img/blog-small-banner-2-360x275.png" width="360" height="275" alt=""></a>
                </div>
                <div class="post-title">
                  <a href="">
                    Скидки до 90% на актуальные коллекции!
                  </a>
                </div>
                <div class="post-tags">
                  <a href="">Мода</a>
                  <a href="">Путешествия</a>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="post">
                <div class="post-img">
                  <a href=""><img src="img/blog-small-banner-3-360x275.png" width="360" height="275" alt=""></a>
                </div>
                <div class="post-title">
                  <a href="">
                    Скидки до 90% на актуальные коллекции!
                  </a>
                </div>
                <div class="post-tags">
                  <a href="">Мода</a>
                  <a href="">Путешествия</a>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="post">
                <div class="post-img">
                  <a href=""><img src="img/blog-small-banner-1-360x275.png" width="360" height="275" alt=""></a>
                </div>
                <div class="post-title">
                  <a href="">
                    Скидки до 90% на актуальные коллекции!
                  </a>
                </div>
                <div class="post-tags">
                  <a href="">Мода</a>
                  <a href="">Путешествия</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


