{% extends "layouts/default.html" %}
{% set title="Каталог" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Женское", "Одежда"] %}
{% set main = false %}
{% block content %}
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="uk-grid">
        <div class="uk-width-1-4 uk-padding-remove padding-right">
          <div class="catalog-sidebar">
            <div class="group-title jg__group-title-toggle open-title">Каталог</div>
            <div class="group-list open-list">
              <ul class="catalog-list">
                <li><a href="#">Брюки</a></li>
                <li><a href="#">Шорты</a></li>
                <li>
                  <a href="#" class="active js__catalog-sublist-toggle">Верхняя одежда</a>
                  <ul class="catalog-sublist">
                    <li><a href="#">Бомберы</a></li>
                    <li><a href="#">Горнолыжные куртки</a></li>
                    <li><a href="#">Демисезонные куртки</a></li>
                    <li><a href="#">Джинсовые куртки</a></li>
                    <li><a href="#">Жилеты</a></li>
                    <li>
                      <a href="#" class="active js__catalog-sublist-toggle">Кожанные куртки</a>
                      <ul class="catalog-sublist">
                        <li><a href="#">Косухи</a></li>
                        <li><a href="#">Легкие куртки и ветровки</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Джинсы</a></li>
                <li><a href="#">Жакеты / Жилеты</a></li>
                <li><a href="#">Бомберы</a></li>
                <li><a href="#">Комбинезоны</a></li>
                <li><a href="#">Платья</a></li>
                <li><a href="#">Рубашки / Блузки</a></li>
                <li><a href="#">Футболки</a></li>
              </ul>
            </div>
          </div>
          <div class="filter">
            <form action="" class="filter-form">
              <fieldset>
                <div class="group-title jg__group-title-toggle open-title">Материалы</div>
                <div class="group-list open-list">
                  <label for="type-01">
                    <input type="checkbox" id="type-01">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Ангора</span>
                  </label>
                  <label for="type-02">
                    <input type="checkbox" id="type-02">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Мохер</span>
                  </label>
                  <label for="type-03">
                    <input type="checkbox" id="type-03">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Кашемир</span>
                  </label>
                  <label for="type-04">
                    <input type="checkbox" id="type-04">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Альпака</span>
                  </label>
                  <label for="type-05">
                    <input type="checkbox" id="type-05">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Меринос</span>
                  </label>
                  <label for="type-06">
                    <input type="checkbox" id="type-06">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Хлопок</span>
                  </label>
                  <label for="type-07">
                    <input type="checkbox" id="type-07">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест 1</span>
                  </label>
                  <label for="type-08">
                    <input type="checkbox" id="type-08">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест 2</span>
                  </label>
                  <label for="type-09">
                    <input type="checkbox" id="type-09">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест 3</span>
                  </label>
                  <label for="type-10">
                    <input type="checkbox" id="type-10">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест 4</span>
                  </label>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-title jg__group-title-toggle open-title">Размер</div>
                <div class="group-list open-list">
                  <label for="size-01">
                    <input type="checkbox" id="size-01">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">L</span>
                  </label>
                  <label for="size-02">
                    <input type="checkbox" id="size-02">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">XL</span>
                  </label>
                  <label for="size-03">
                    <input type="checkbox" id="size-03">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">M</span>
                  </label>
                  <label for="size-04">
                    <input type="checkbox" id="size-04">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">S</span>
                  </label>
                  <label for="size-05">
                    <input type="checkbox" id="size-05">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">XS</span>
                  </label>
                  <label for="size-06">
                    <input type="checkbox" id="size-06">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">U</span>
                  </label>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-title jg__group-title-toggle open-title">Цвет</div>
                <div class="group-list open-list">
                  <label for="color-01">
                    <input type="checkbox" id="color-01">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Черный</span>
                  </label>
                  <label for="color-02">
                    <input type="checkbox" id="color-02">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Синий</span>
                  </label>
                  <label for="color-03">
                    <input type="checkbox" id="color-03">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Белый</span>
                  </label>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-title jg__group-title-toggle">Бренды</div>
                <div class="group-list">
                  <label for="brands-01">
                    <input type="checkbox" id="brands-01">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">H&M</span>
                  </label>
                  <label for="brands-02">
                    <input type="checkbox" id="brands-02">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Gucci</span>
                  </label>
                  <label for="brands-03">
                    <input type="checkbox" id="brands-03">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Stefanel</span>
                  </label>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-title jg__group-title-toggle">Дополнительно</div>
                <div class="group-list">
                  <label for="add-opt-01">
                    <input type="checkbox" id="add-opt-01">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест</span>
                  </label>
                  <label for="add-opt-02">
                    <input type="checkbox" id="add-opt-02">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест</span>
                  </label>
                  <label for="add-opt-03">
                    <input type="checkbox" id="add-opt-03">
                    <span class="custom-checkbox"></span>
                    <span class="custom-label">Тест</span>
                  </label>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-3-4">
          <div class="catalog">
            <div class="catalog-header">
              <div class="title">Одежда</div>
              <div class="catalog-banner">
                <div class="products-preview-slider loaded">
                  <div class="slide">
                    <a href="">
                      <div class="slide-bg" style="background-image: url('img/preview-catalog-850x310.png')"></div>
                      <div class="slide-title">Бренд этой недели Stefanel</div>
                    </a>
                  </div>
                  <div class="slide">
                    <a href="">
                      <div class="slide-bg" style="background-image: url('img/preview-catalog-850x310.png')"></div>
                      <div class="slide-title">Бренд этой недели Stefanel 2</div>
                    </a>
                  </div>
                  <div class="slide">
                    <a href="">
                      <div class="slide-bg" style="background-image: url('img/preview-catalog-850x310.png')"></div>
                      <div class="slide-title">Бренд этой недели Stefanel 3</div>
                    </a>
                  </div>
                </div>
                <div class="catalog-banner-text">
                  <div class="text">
                   <p> Бренд одежды в стиле casual Chinti and Parker был создан британскими дизайнерами Анной Сайн и Рейчел Вуд в 2011 году. Уютные кашемировые халаты, пушистые свитера, кашемировые кардиганы нежных оттенков, а также платья baby-doll и классические свитшоты – в осенней коллекции Chinti and Parker есть всё что нужно для комфортных будней.</p>

                    <p>Британский бренд Chinty and Parker предлагает ассортимент качественной простой одежды. Основанный двумя кузенами в 2009, бренд старается создать иллюзорную “идеальную футболку” и другие схожие изделия, которые сшиты на территории Великобритании с учётом этики производства. Фирма “создаёт красивые вещи с уважением к внешнему миру.”</p>
                  </div>
                  <a href="" class="read-more">Подробнее</a>
                </div>
              </div>
              <div class="catalog-select">
                <div class="catalog-option-current">Наш выбор</div>
                <ul class="catalog-option-list">
                  <li><a href="#">Наш выбор</a></li>
                  <li><a href="#">Цена возр.</a></li>
                  <li><a href="#">Цена убыв</a></li>
                  <li><a href="#">Популярность возр.</a></li>
                  <li><a href="#">Популряность убыв.</a></li>
                </ul>
              </div>
            </div>
            <div class="catalog-body">
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href="" class="checked-favorites"></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="cart">
                <div class="cart-img">
                  <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
                  <div class="cart-status">
                    <div class="new">Новинка</div>
                    <div class="discount">Скидка</div>
                  </div>
                  <div class="action-wrapper">
                    <div class="favorites">
                      <a href=""></a>
                    </div>
                    <ul class="brand-color-list">
                      <li>
                        <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--blue" data-color="Синий"></a>
                      </li>
                      <li>
                        <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
                </div>
                <div class="cart-brands">
                  <div class="cart-brand-name">
                    <a href="">H&M</a>
                  </div>
                  <div class="cart-product-name">
                    <a href="">Брюки стретч High waist</a>
                  </div>
                </div>
                <div class="cart-coast">
                  <span class="old-coast">4 590 р.</span>
                  <span class="coast">1 099 р.</span>
                </div>
              </div>
              <div class="read-more-wrapper">
                <a href="" class="read-more shop-link">Смотреть еще</a>
              </div>
              <ul class="uk-pagination uk-float-right mt25">
                <li class="uk-pagination-prev uk-hidden">
                  <a href="">Предыдущая</a>
                 </li>
                <li class="uk-active"><span>1</span></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><span>...</span></li>
                <li><a href="">174</a></li>
                <li class="uk-pagination-next">
                  <a href="">Следующая</a>
                 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
