{% extends "layouts/default.html" %}
{% set title="FAQ" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Часто задавемые вопросы"] %}
{% set main = false %}
{% block content %}
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="uk-grid">
        <div class="uk-width-1-4 uk-padding-remove padding-right">
          <div class="links-sidebar">
            <ul class="links-list">
              <li><a href="#" class="active">Условия работы</a></li>
              <li><a href="#">Оплата и доставка</a></li>
              <li><a href="#">Возврат</a></li>
              <li><a href="#">Гарантии</a></li>
            </ul>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-3-4">
          <div class="catalog">
            <div class="catalog-header">
              <div class="title">Часто заваемые вопросы</div>
            </div>
            <div class="uk-accordion" data-uk-accordion>
                <h3 class="uk-accordion-title">Какие вакансии есть в ваших магазинах?</h3>
                <div class="uk-accordion-content">
                  Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
                </div>

                <h3 class="uk-accordion-title">Какие вакансии есть в ваших магазинах?</h3>
                <div class="uk-accordion-content">
                  Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
                </div>
                <h3 class="uk-accordion-title">Какие вакансии есть в ваших магазинах?</h3>
                <div class="uk-accordion-content">
                  Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
                </div>
                <h3 class="uk-accordion-title">Какие вакансии есть в ваших магазинах?</h3>
                <div class="uk-accordion-content">
                  Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
