{% extends "layouts/default.html" %}
{% set title="Оформление заказа" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Оформление заказа"] %}
{% set main = false %}
{% block content %}
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="title">Оформление заказа</div>
      <div class="uk-grid">
        <div class="uk-width-large-6-10">
          <form action="" class="user-form reg profile">
            <div class="fieldset-group">
              <div class="action-text">Ваши данные</div>
              <fieldset>
                <label for="reg-form-name"><span>Имя</span></label>
                <input type="text" id="reg-form-name">
              </fieldset>
              <fieldset>
                <label for="reg-form-tel"><span>Телефон</span></label>
                <input type="text" id="reg-form-tel">
              </fieldset>
              <fieldset>
                <label for="reg-form-email"><span>Email</span></label>
                <input type="mail" id="reg-form-email">
              </fieldset>
            </div>
            <div class="fieldset-group">
              <fieldset>
                <div class="action-text">Выберите вариант доставки</div>
                <label for="delivery1" class="radio-btn">
                  <input type="radio" name="delivery" id="delivery1" checked>
                  <span class="custom-radio"></span>
                  <span class="custom-label">Самовывоз</span>
                </label>
                <div class="custom-select-block">
                  <div class="custom-select-current">Выберите магазин</div>
                  <ul class="custom-select-list">
                    <li><a href="">Магазин 1</a></li>
                    <li><a href="">Магазин 2</a></li>
                    <li><a href="">Магазин 3</a></li>
                    <li><a href="">Магазин 4</a></li>
                  </ul>
                </div>
                <label for="delivery2" class="radio-btn">
                  <input type="radio" name="delivery" id="delivery2">
                  <span class="custom-radio"></span>
                  <span class="custom-label">Доставка курьером</span>
                </label>
                <textarea name="" id="" placeholder="Введите адрес доставки"></textarea>
                <div class="tooltip">Доставка в вашем регионе 2-3 дня</div>
                <div class="uk-autocomplete">
                  <input type="text" name="date-pic" class="date-pic" placeholder="Удоброе время"data-uk-timepicker="{format:'24h'}">
                </div>
              </fieldset>
            </div>
            <div class="fieldset-group">
              <fieldset>
                <div class="action-text">Выберите вариант оплаты</div>
                <label for="pay1" class="radio-btn">
                  <input type="radio" name="pay" id="pay1" checked>
                  <span class="custom-radio"></span>
                  <span class="custom-label" data-uk-tooltip="{pos:'right', animation: 'fade', offset: 40}" title="Подсказка по определенному пункту">Наличными курьеру</span>
                </label>
                <label for="pay2" class="radio-btn">
                  <input type="radio" name="pay" id="pay2">
                  <span class="custom-radio"></span>
                  <span class="custom-label" data-uk-tooltip="{pos:'right', animation: 'fade', offset: 40}" title="Подсказка по определенному пункту">Оплата картой курьеру</span>
                </label>
                <label for="pay3" class="radio-btn">
                  <input type="radio" name="pay" id="pay3">
                  <span class="custom-radio"></span>
                  <span class="custom-label" data-uk-tooltip="{pos:'right', animation: 'fade', offset: 40}" title="Подсказка по определенному пункту">Оплата картой с сайта</span>
                </label>
              </fieldset>
            </div>
            <div class="fieldset-group">
              <div class="action-text">Комментарий к заказу</div>
              <textarea name="" id="" class="comments"></textarea>
            </div>
            <!-- <button type="submit" class="btn">Регистрация</button> -->
          </form>
        </div>
        <div class="uk-width-large-4-10">
          <form action="" class="user-form signin gray uk-float-right mt80">
            <div class="action-text">Уже зарегистрированы?</div>
            <fieldset>
              <label for="signin-form-name"><span>Имя</span></label>
              <input type="text" id="signin-form-name">
            </fieldset>
            <fieldset>
              <label for="signin-form-name"><span>Пароль</span></label>
              <input type="text" id="signin-form-name">
            </fieldset>
            <a href="" class="forgot-password">Забыли <span>пароль?</span></a>
            <br>
            <button type="submit" class="btn">Войти</button>
          </form>
        </div>
        <div class="uk-width-1-1">
          <table class="table-products uk-margin-large-top">
            <thead>
              <tr>
                <td>Товар</td>
                <td>Цвет и размер</td>
                <td>Количество</td>
                <td>Цена</td>
                <td>Бонусы</td>
              </tr>
            </thead>
            <tbody>
              <tr class="product">
                <td>
                  <div class="product-img-small">
                    <img src="img/product-img-small-1-63x76.png" alt="">
                  </div>
                  <div class="product-desc">
                    <div class="product-brand"><a href="">H&M</a></div>
                    <div class="product-name"><a href="">Брюки стретч High waist</a></div>
                  </div>
                </td>
                <td>
                  <div class="product-size">38 EUR</div>
                  <div class="product-color">бежевый</div>
                </td>
                <td>
                  <div class="count">1</div>
                </td>
                <td>
                  <div class="old-coast">
                    24 590 р.
                  </div>
                  <div class="coast">
                    21 499 р.
                  </div>
                </td>
                <td>
                  <div class="bonus">
                    500
                  </div>
                </td>
              </tr>
              <tr class="product">
                <td>
                  <div class="product-img-small">
                    <img src="img/product-img-small-2-63x76.png" alt="">
                  </div>
                  <div class="product-desc">
                    <div class="product-brand"><a href="">H&M</a></div>
                    <div class="product-name"><a href="">Брюки стретч High waist</a></div>
                  </div>
                </td>
                <td>
                  <div class="product-size">38 EUR</div>
                  <div class="product-color">бежевый</div>
                </td>
                <td>
                  <div class="count">1</div>
                </td>
                <td>
                  <div class="old-coast hidden">
                    24 590 р.
                  </div>
                  <div class="coast">
                    2 499 р.
                  </div>
                </td>
                <td>
                  <div class="bonus">
                    500
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="uk-width-6-10">
          <table class="table-product-coast-list">
            <thead>
              <tr>
                <td>Всего товаров</td>
                <td>Общая скидка</td>
                <td>Списание</td>
                <td>Доставка</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>78 800 р.</td>
                <td>-500 р.</td>
                <td>-1 000 р.</td>
                <td>2 500 р.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="uk-width-4-10 uk-float-right">
          <div class="send-form-block">
            <div class="for-pay">К оплате</div>
            <div class="full-coast">78 800 р.</div>
            <a href="" class="btn">Отправить заказ</a>
          </div>
          <div class="politics-order">
            <a href="">
              Нажимая «Отправить заказ», вы соглашаетесь на обработку персональных данных в соответствии с Политикой конфиденциальности
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %} 
