{% extends "layouts/default.html" %}
{% set title="Персональные предложения" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Личный кабинет"] %}
{% set main = false %}
{% block content %}  
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="uk-grid">
        <div class="uk-width-1-4 uk-padding-remove padding-right">
          <div class="links-sidebar">
            <ul class="links-list">
              <li><a href="#">Заказы</a></li>
              <li><a href="#">Мои данные</a></li>
              <li><a href="#">Мои адреса</a></li>
              <li><a href="#">Карты лояльности</a></li>
              <li><a href="#">Бонусный счет</a></li>
              <li><a href="#">Избранное</a></li>
              <li><a href="#">Подписки</a></li>
              <li><a href="#" class="active">Персональные предложения</a></li>
              <li><a href="#">Выход</a></li>
            </ul>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-3-4">
          <div class="title">Персональные предложения</div>
          <div class="personal-banner">
            <img src="img/preview-catalog-850x310.png" alt="">
          </div>
          <div class="personal-banner">
            <img src="img/preview-catalog-850x310.png" alt="">
          </div>
          <div class="personal-banner">
            <img src="img/preview-catalog-850x310.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
