{% extends "layouts/default.html" %}
{% set title="Личный кабинет" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Личный кабинет"] %}
{% set main = false %}
{% block content %}  
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="uk-grid">
        <div class="uk-width-1-4 uk-padding-remove padding-right">
          <div class="links-sidebar">
            <ul class="links-list">
              <li><a href="#">Заказы</a></li>
              <li><a href="#" class="active">Мои данные</a></li>
              <li><a href="#">Мои адреса</a></li>
              <li><a href="#">Карты лояльности</a></li>
              <li><a href="#">Бонусный счет</a></li>
              <li><a href="#">Избранное</a></li>
              <li><a href="#">Подписки</a></li>
              <li><a href="#">Персональные предложения</a></li>
              <li><a href="#">Выход</a></li>
            </ul>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-3-4">
          <div class="title">Мои данные</div>
          <div class="user-forms-wrapper">
            <form action="" class="user-form gray js__user-info">
              <fieldset>
                <label for="user-name">
                  <span>Имя</span>
                </label>
                <input type="text" name="user-name" id="user-name">
              </fieldset>
              <fieldset>
                <label for="user-date">
                  <span>Дата рождения</span>
                </label>
                <input type="text" name="user-date" id="user-date">
              </fieldset>
              <fieldset>
                <label for="user-tel">
                  <span>Телефон</span>
                </label>
                <input type="text" name="user-tel" id="user-tel">
              </fieldset>
              <fieldset>
                <label for="user-email">
                  <span>Email</span>
                </label>
                <input type="text" name="user-email" id="user-email">
              </fieldset>
            </form>
            <div class="title-h3">Сменить пароль</div>
            <form action="" class="user-form gray js__form-password">
              <fieldset class="flat-fields">
                <label for="password">
                  <span>Новый пароль</span>
                </label>
                <input type="password" name="password" id="password">
              </fieldset>
              <fieldset class="flat-fields">
                <label for="password-again">
                  <span>Подтвердите новый пароль</span>
                </label>
                <input type="password" name="password-again" id="password-again">
              </fieldset>
              <button type="submit" class="btn">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
