{% extends "layouts/default.html" %}
{% set title="Вакансии" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Вакансии", "Администратор магазина"] %}
{% set main = false %}
{% block content %}
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="title">Администратор магазина</div>
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aliquid ratione dicta, consequuntur, fugiat commodi libero quo illo rem voluptatem animi quod, cumque alias modi.
        <div class="author">
          <div class="author-img">
            <img src="img/blockqoute-img-vacancie-detail.png" alt="">
          </div>
          <div class="author-name">- Аделина Павлова, директор магазина</div>
        </div>
      </blockquote>
      Обязанности:
      <ul>
        <li>
          Управление сотрудниками смены и продажами в течение рабочего дня.
        </li>
        <li>
          Выполнение плана продаж: планирование, координация, системный контроль
        </li>
        <li>
          Поддержание всех систем работы магазина (прием поставок, подбор персонала, продажи, инвентаризации, отчетность)
        </li>
        <li>
          Управление стандартами сервиса: контроль и обучение
        </li>
        <li>
          Управление персоналом: подбор и привлечение, проведение первичных собеседований, адаптация, мотивация на результат
        </li>
        <li>
          Замещение директора, управление вверенным магазином
        </li>
        <li>
          Решение административных вопросов, а также вопросов связанных с рекламациями, конфликтами и другими спорными ситуациями
        </li>
        <li>
          Предоставление отчетности в офис
        </li>
      </ul>
      Требования:
      <ul>
        <li>
          Опыт работы от 1,5 лет в должности администратора (магазина, смены), директора магазина
        </li>
        <li>
          Желателен опыт в розничных сетях PREMIUM класса (обувь, одежа, аксессуары)
        </li>
        <li>
          Обязателен опыт работы в магазинах, ориентированных на активные продажи и обслуживание (клиентский сервис).
        </li>
        <li>
          Знание KPI показателей.
        </li>
        <li>
          Знание программы 1C 8.
        </li>
        <li>
          Приветствуется опыт открытия магазина – START UP
        </li>
        <li>
          Опыт в формировании команды, управлении коллективом и решении административных задач
        </li>
        <li>
          Работа с клиентской базой данных
        </li>
        <li>
          Нам важны следующие компетенции: уверенность, самостоятельность, умение принимать решения, клиентоориентированность, стрессоустойчивость, отличные навыки продаж, умение управлять людьми, ответственность.
        </li>
      </ul>
      Мы предлагаем:
      <ul>
        <li>
          Удобный график работы.
        </li>
        <li>
          Конкурентную зарплату: фикс + бонус
        </li>
        <li>
          Скидку на продукцию
        </li>
        <li>
          Профессиональное развитие в сфере моды и направлении retail
        </li>
        <li>
          Реализацию Ваших карьерных амбиций при высоком качестве работы
        </li>
        <li>
          Возможность активного участия в других бизнес-процессах сети
        </li>
        <li>
          <a href="mailto:info@stefanel-russia.ru">info@stefanel-russia.ru</a><br>
          <a href="tel:+74957879004">+7 (495) 787 90 04</a>
        </li>
      </ul>
      <a href="#vacancies-form" class="btn uk-margin-large-top" data-uk-modal>Отправить вакансию</a>
    </div>
  </section>
{% endblock %}
