{% extends "layouts/default.html" %}
{% set title="Избранное" %}
{% set paddingRemove="remove-padding-bottom" %}
{% set borderBold="border-bold" %}
{% set bread = ["Главная", "Избранное"] %}
{% set main = false %}
{% block content %} 
  <section class="content">
    <div class="uk-container uk-container-small">
      <div class="wishlist-body">
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href="" class="checked-favorites"></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#quick-view-modal" class="preview" data-uk-modal>Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
        <div class="cart">
          <div class="cart-img">
            <img data-src="img/slider-img/best-seller-img-2-260x317.png" alt="">
            <div class="cart-status">
              <div class="new">Новинка</div>
              <div class="discount">Скидка</div>
            </div>
            <div class="action-wrapper">
              <div class="favorites">
                <a href=""></a>
              </div>
              <ul class="cart-brand-color-list">
                <li>
                  <a href="#" class="color color--lightgray" data-color="Светло серый"></a>
                </li>
                <li>
                  <a href="#" class="color color--blue" data-color="Синий"></a>
                </li>
                <li>
                  <a href="#" class="color color--darkgray" data-color="Темно серый"></a>
                </li>
              </ul>
            </div>
            <div class="preview-wrapper"><a href="#" class="preview">Быстрый просмотр</a></div>
          </div>
          <div class="cart-brands">
            <div class="cart-brand-name">
              <a href="">H&M</a>
            </div>
            <div class="cart-product-name">
              <a href="">Брюки стретч High waist</a>
            </div>
          </div>
          <div class="cart-coast">
            <span class="old-coast">4 590 р.</span>
            <span class="coast">1 099 р.</span>
          </div>
          <a href="" class="cart-close js__remove-cart">✖</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
