/* PAGE CONTENT */

.content {
  padding-bottom: 30px;
  @media @tablet-w {
    padding: 0 0 80px;
  }
  @media @desk-w {
    padding: 0 90px 120px;
  }
  ul:not([class]),ol:not([class]) {
    padding-left: 20px;
    li {
      padding-left: 20px;
      line-height: 21px;
      letter-spacing: .4px;
      @media @mob-w {
        padding-left: 10px;
      }
    }
  }
  ul.uk-switcher {
    padding-left: 0;
    li {
      padding-left: 0;
      a {
        margin-bottom: 10px;
        display: block;
        color: @mainColor;
        &:hover {
          color: @hoverColor;
        }
      }
    }
  }
  .uk-accordion {
    margin: 50px 0;
    @media @mob-w {
      margin: 25px 0;
    }
    @media @tablet-w {
      margin: 35px 0;
    }
    .uk-accordion-title {
      margin: 0;
      padding: 30px 0;
      background: transparent;
      position: relative;
      font-size: 20px;
      font-family: @mainFont;
      text-transform: none;
      border-bottom: 1px solid #dddddd;
      @media @mob-w {
        padding: 20px 0;
      }
      &:first-child {
        border-top: 1px solid #dddddd;
      }
      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        content: "\e917";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        color: #202f43;
        font-weight: bold;
      }
      &.uk-active {
        border-bottom: 0;
        &:after {
          content: "\e916";
        }
      }
    }
    .uk-accordion-content {
      padding: 0;
      padding-bottom: 30px;
    }
  }
  .quote {
    margin-bottom: 50px;
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .45px;
  }
  .padding-right {
    padding-right: 30px !important;
    @media @mob-w {
      padding-right: 25px !important;
    }
  }
  p {
    margin-bottom: 50px;
  }
  .title-h2 {
    margin-bottom: 40px;
    color: #253446;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    @media @mob-w {
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 20px;
    }
    @media @tablet-w {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 30px;
    }
  }

.custom-select-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f6f6f6;
  display: none;
  position: relative;
  z-index: 100;
  li {
    padding-left: 0;
  }
  a {
    padding: 15px;
    display: block;
    color: @mainColor;
    &.active {
      background: darken(#d3d3d3, 20%);
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        content: "\e918";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        color: @mainColor;
      }
    }
    &:hover {
      background: #d3d3d3;
      text-decoration: none;
    }
  }
} 
  .uk-nav {
    padding-left: 0;
  }
  blockquote {
    margin-bottom: 40px;
    padding: 40px 3%;
    color: #3b3b3b;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .45px;
    border: none;
    background-color: #f6f6f6;
    font-family: "CormorantGaramond-Bold";
    font-style: normal;
    @media @mob-w {
      padding: 20px 5%;
    }
    .author {
      margin-top: 30px;
      .author-img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 15px;
        img {
          border-radius: 50%;
        }
      }
      .author-name {
        height: 80px;
        font-size: 14px;
        line-height: 80px;
        font-weight: 400;
        overflow: hidden;
      }
    }
    .clearfix();
  } 
}

.read-more-wrapper {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0;
  text-align: center;
}
a.read-more {
  position: relative;
  padding-right: 40px;
  color: @mainColor;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  &:hover {
    text-decoration: none;
    color: #f76d57;
    &:after {
      border-top-color: inherit;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 35%;
    right: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    transition: border-color .3s ease;
  }
}

/* SHOP THE LOOK ON HOME PAGE */

.shop-the-look {
  margin-bottom: 80px;
  .shop-the-look-inner {
    margin-bottom: 20px;
  }
}
.shop-block {
  position: relative;
  height: 478px;
  width: 100%;
  overflow: hidden;
  &.height50 {
    height: 227px;
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.width80 {
    max-width: 80%;
    height: 218px;
  }
  .shop-block-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter .3s ease-out;
    filter: grayscale(0);
  }
  .shop-block-preview {
    position: absolute;
    bottom: -100%;
    left: 50%;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.8px;
    color: #ffffff;
    border-bottom: 3px solid #f76d57;
    text-transform: uppercase;
    transform: translate(-50%, 50%);
    transition: bottom .3s ease-out;
    z-index: 30;
  }
  &:hover {
    .shop-block-bg {
      background-position: center;
      filter: grayscale(100%);
    }
    .shop-block-preview {
      bottom: 50%;
      text-decoration: none;
    }
  }
}


#search-form {
  transition: all .2s ease-out;
  position: absolute;
  top: -100%;
  left: 0;
  height: 195px;
  width: 100%;
  background-color: rgba(243, 243, 243, .8);
  &.visible {
    top: 0;
    z-index: 500;
    .form-wrapper {
      top: 50%;
      opacity: 1;
    }
  }
  .form-wrapper {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    max-width: 780px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-50%);
    transition: top .6s, opacity .6s ease-out;
    .form-title {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .8px;
    }
  }
  form {
    position: relative;
    width: 100%;
    input[type="text"] {
      padding: 0 70px 0 30px !important;
      width: 100%;
      height: 63px !important;
      line-height: 63px !important;
      color: #444;
      font-family: "Cormorant-Italic";
      font-size: 20px;
      background: #ffffff;
      border: none !important;
    }
    button {
      position: absolute;
      top: 50%;
      right: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      transform: translateY(-50%);
      text-align: center;
      transition: color .3s ease;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #f76d57;
      }
      &.send {
        right: 20px;
        font-size: 22px;
        // &:after {
        //  content: '';
        //  position: absolute;
        //  top: 0;
        //  right: -30px;
        //  display: block;
       //   width: 1px;
        //  height: 30px;
        //  background: rgba(0, 0, 0, .6);
        //}
      }
       &.close {
        padding: 0;
        top: -30px;
        right: 0;
        font-size: 16px;
      }
    }
  }
}


/* DETAIL PRODUCT */

.detail-product {
  .product-slider {
    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }
}

.detail-product-content {
  margin-bottom: 70px !important;
  .detail-product-title {
    margin-top: -5px;
    margin-bottom: 25px;
    text-transform: none;
    font-size: 40px;
    line-height: 46px;
  }
  .coast {
    margin-bottom: 25px;
    .coast-old,
    .coast-actual {
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
    }
    .coast-old {
      margin-right: 20px;
      color: #f76d57;
      text-decoration: line-through;
    }
    .coast-actual {
      font-weight: bold;
    }
  }
  .brand-options {
    .brand-code,
    .brand-name,
    .brand-current-color,
    .brand-name a {
      color: @mainColor;
      font-size: 18px;
    }
    .brand-name a {
      text-decoration: underline;
    }
    .brand-code,
    .brand-name,
    .brand-current-color {
      font-size: 16px;
      letter-spacing: .8px;
      line-height: 30px;
      span {
        margin-left: 5px;
      }
    }
    .brand-current-color {
      margin-bottom: 15px;
    }
  }
  .brand-color-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    li {
      margin-right: 10px;
      margin-bottom: 10px;
      padding-left: 0;
      display: inline-block;
      vertical-align: top;
      a.color {
        display: block;
        width: 60px;
        height: 30px;
        &--lightgray {
          background: #dddddd;
        }
        &--blue {
          background: blue;
        }
        &--darkgray {
          background: gray;
        }
        &.checked {
          position: relative;
          &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 3px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            box-sizing: border-box;
            background-color: #ffffff;
            transform: translate(-50%,-50%);
            content: "\e918";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 12px;
            color: #f76d57;
          }
        }
      }
    }
  }
  .brand-size {
    margin-bottom: 30px;
  }
  .brand-size-block {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f6f6f6;
    .brand-size-current {
      position: relative;
      padding: 0 15px;
      cursor: pointer;
      &:after {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        content: "\e917";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        color: @mainColor;
      }
    }
  }
  .brand-size-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f6f6f6;
    display: none;
    position: relative;
    z-index: 100;
    li {
      padding-left: 0;
    }
    a {
      padding: 15px;
      display: block;
      color: @mainColor;
      &.active {
        background: darken(#d3d3d3, 20%);
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          content: "\e918";
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 12px;
          color: @mainColor;
        }
      }
      &:hover {
        background: #d3d3d3;
        text-decoration: none;
      }
    }
  }
  .basket {
    display: block;
    max-width: 100%;
    color: #ffffff;
    height: 60px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    background-color: #253446;
    letter-spacing: 1.3px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    width: 100%;
    transition: background-color .3s , color .3s ease;
    outline: none;
    &:hover {
      text-decoration: none;
      background-color: #f76d57;
    }
  }
  .brand-size-grid,
  .notification {
    margin-bottom: 30px;
    display: block;
    color: #202f43;
    opacity: .7;
    text-decoration: underline;
    &:hover {
      color: #f76d57;
    }
  }
  p.question {
    margin-bottom: 12px;
  }
  .notification {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .favorites {
    position: relative;
    padding-left: 50px;
    display: block;
    height: 60px;
    line-height: 66px;
    color: @mainColor;
    font-weight: bold;
    font-size: 20px;
    font-family: "Circe";
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: color .3s ease;
    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "\e91a";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 20px;
      color: inherit;

    }
    &:hover {
      color: #f76d57;
      text-decoration: none;
    }
  }
}

.detail-product-options {
  margin-bottom: 65px !important;
  padding: 60px 0;
  width: 100%;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  .uk-switcher {
    padding-left: 0;
    li {
      padding-left: 0;
    }
  }
}

.uk-tab.options {
  margin-bottom: 30px;
  border: none;
  li {
    margin-bottom: 0;
    margin-right: 5.6%;
    padding-left: 0;
    a {
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      border: none;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      color: @mainColor;
      letter-spacing: 1.6px;
      font-weight: 700;
      background: transparent;
      &:hover {
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #000000;
        padding-bottom: 10px;
      }
    }
    &.uk-active {
      a {
        border-bottom: 2px solid #000000;
      }
    }
  }
  .uk-nav {
    li.uk-active {
      a {
        border: none !important;
      }
    }
    li {
      a {
        border: none !important;
      }
    }
  }
}


/*
img {
  opacity: 1;
  transition: opacity 5s ease;
}

img[data-src] {
  opacity: 0;
}
*/




.detail-product-slider {
  .slide {
    //height: 621px !important;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    a {
      vertical-align: bottom;
    }
    img {
      max-height: none !important;
      max-width: none !important;
    }
  }
}


.slick-list {
  //max-height: 620px;
}



/* COMMENTS DETAIL */

.comments {
  .uk-pagination {
    margin-bottom: 60px;
    padding-left: 0;
    text-align: left;
  }
}

.comment {
  margin-bottom: 30px;
  padding-top: 0;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  .name,
  .date,
  .rating {
    display: inline-block;
    vertical-align: top;
  }
  .name {
    margin-right: 15px;
    font-weight: 400;
    letter-spacing: .8px;
  }
  .date {
    color: #202f43;
    opacity: .7;
    font-family: "Cormorant-Italic";
    letter-spacing: .9px;
  }
  .rating {
    position: relative;
    float: right;
    width: 75px;
    height: 15px;
    .empty-rating {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/icon-svg/star-rating.svg') 0  repeat-x;
      background-size: 15px 15px;
      background-position: 0 0px;
      z-index: 10;
    }
    .currently-rating {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/icon-svg/star-rating-fill.svg') 0  repeat-x;
      background-size: 15px 15px;
      background-position: 0 0px;
      z-index: 11;
    }
    &--one-star {
      .currently-rating {
        width: 20%;
      }
    }
    &--two-star {
      .currently-rating {
        width: 40%;
      }
    }
    &--three-star {
      .currently-rating {
        width: 60%;
      }
    }
    &--four-star {
      .currently-rating {
        width: 80%;
      }
    }
    &--five-star {
      .currently-rating {
        width: 100%;
      }
    }
  }
  .comment-header {
    margin-bottom: 20px;
  }
  .comment-body {
    color: #3b3b3b;
    letter-spacing: .4px;
  }
}


/* КАТАЛОГ */

.catalog {
  .title {
    margin-bottom: 40px;
    @media @mob-w {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}

.catalog-header {
  position: relative;
 // padding: 0 15px;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.catalog-select {
  position: relative;
  min-width: 175px;
  height: 50px;
  line-height: 50px;
  z-index: 80;
  float: right;
  .catalog-option-current {
    position: relative;
    padding-left: 15px;
    padding-right: 50px;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "\e917";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 12px;
      color: #202f43;
      font-weight: bold;
    }
  }
  .catalog-option-list {
    .select2-selection {
      border: none;
      outline: none;
    }
  }
}

.select2-dropdown {
  border: none;
}

.catalog-banner {
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  .products-preview-slider {
    max-height: 310px;
    margin-bottom: 50px;
    .slide {
      height: 310px;
    }
    .slide-title {
      padding: 0;
      font-weight: 400;
      font-size: 42px;
      line-height: 46px;
      max-width: 360px;
      bottom: 100px;
    }
  }
  .catalog-banner-text {
    margin-bottom: 40px;
  }
  .text {
    margin-bottom: 40px;
    color: #3b3b3b;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    max-height: 90px;
    overflow: hidden;
    transition: max-height .3s ease;
    &.open {
      max-height: 300px;
    }
  }
  .read-more {
    color: #202f43;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .4px;
    text-transform: none;
    &:after {
      border: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      content: "\e917";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 12px;
      color: #202f43;
      font-weight: bold;
    }
    &.open {
      &:after {
        content: "\e916";
      }
      &:hover {
        &:after {
          color: #f76d57;
        }
      }
    }
  }
}

.cart {
  position: relative;
  padding: 15px;
  width: 33%;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid transparent;
  .cart-img {
    position: relative;
    margin-bottom: 20px;
    height: 320px;
    //width: 260px;
    overflow: hidden;
  }
  .cart-brands {
    margin-bottom: 15px;
    a {
      color: #202f43;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: .8px;
    }
  }
  .cart-coast {
    .old-coast {
      color: #f76d57;
      text-decoration: line-through;
      letter-spacing: 0.8px;
      font-weight: 400;
    }
    .coast {
      font-weight: 700;
      letter-spacing: 0.8px;
    }
  }
  .cart-status {
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    z-index: 75;
    &>div {
      margin-bottom: 10px;
      padding: 0 10px;
      display: block;
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      letter-spacing: 2px;
      color: #ffffff;
      text-align: center;
    }
    .new {
      background: #ffffff;
      color: #202f43;
      opacity: .7;
      font-weight: bold;
    }
    .discount {
      background: #f76d57;
      display: inline-block;
      font-weight: bold;
    }
  }
  .action-wrapper {
    position: absolute;
    top: 10px;
    right: -50%;
    transition: right .3s ease-out;
    .favorites {
      margin-bottom: 10px;
      text-align: center;
      a {
        display: inline-block;
        width: 20px;
        height: 10px;
        color: @mainColor;
        font-size: 14px;
        &:after {
          content: "\e91a";
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &:hover {
          text-decoration: none;
          color: #f76d57;
        }
        &.checked-favorites {
           &:after {
            color: #f76d57;
          }
        }
      }
    }
    .cart-brand-color-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 6px;
        padding-left: 0;
        display: block;
        width: 20px;
        height: 10px;
        line-height: 30px;
        a.color {
          display: block;
          width: 20px;
          height: 10px;
          &--lightgray {
            background: #dddddd;
          }
          &--blue {
            background: blue;
          }
          &--darkgray {
            background: gray;
          }
          &.checked {
            position: relative;
            &:after {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              content: "\e918";
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 12px;
              color: red;
            }
          }
        }
      }
    }
  }
  .preview-wrapper {
    position: absolute;
    bottom: -50%;
    padding: 3px 5px;
    width: 80%;
    left: 10%;
    right: 10%;
    text-align: center;
    transition: bottom .3s ease-out;
    z-index: 76;
    background: rgba(38, 52, 69, .5);
  }
  .preview {
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 1.8px;
    color: #ffffff;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  .cart-close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 20px;
    transition: opacity .3s ease;
    &:hover {
      text-decoration: none;
      color: @hoverColor;
    }
  }
  &:hover {
    border: 1px solid #dddddd;
    .preview-wrapper {
      bottom: 30%;
    }
    .action-wrapper {
      right: 10px;
    }
  }
  @media @tablet-w {
    width: 45%;
  }
}

.filter {
  padding-top: 5px;
}
.filter-form {
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 10px;
  }
}

.group-title {
  position: relative;
  padding-bottom: 0;
  color: #2f3d50;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color .3s ease;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #202f43;
    transition: transform .3s ease;
  }
  &.open-title {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #263445;
    @media @tablet-w {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
    &:after {
      transform: translateY(50%) rotate(90deg);
    }
  }
}
.group-list {
  margin-bottom: 15px;
  padding: 15px 0;
  max-height: 245px;
  display: none;
  @media @tablet-w {
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      ~.custom-checkbox {
        background: #f76d57;
      }
    }
  }
  label {
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .custom-checkbox {
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    border: 1px solid #e0dada;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #f3f3f3;
  }
  .custom-label {
    margin-left: 30px;
    display: block;
    vertical-align: top;
    overflow: hidden;
    color: #202f43;
    opacity: .8;
  }
  &.open-list {
    display: block;
  }
}

/* CATALOG SIDEBAR */

.catalog-sidebar {
  @media @mob-w {
    margin: 0 25px;
    margin-bottom: 30px !important;
    padding: 15px 25px;
    width: 100%;
    border: 1px solid @themeColor;
  }
  @media @tablet-w {
    margin: 0 25px;
    margin-bottom: 50px !important;
    padding: 15px 25px;
    width: 100%;
    border: 1px solid @themeColor;
  }
  .group-wrapper {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .catalog-sidebar-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .8px;
    &:hover,&:focus {
      text-decoration: none;
    }
    @media @mob-w {
      font-size: 18px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0;
      transform: translateY(50%);
      border: 5px solid transparent;
      border-left: 5px solid #202f43;
      transition: transform .3s ease;
    }
    &.active {
      &:after {
        transform: translateY(50%) rotate(90deg);
      }
    }
  }
  .catalog-sidebar-list {
    padding: 25px 0 0;
    display: none;
    @media @desk-w {
      padding: 0;
      display: block !important;
    }
  }
  .group-list {
    margin-top: 15px;
    padding-top: 0;
    max-height: none;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        display: block;
        color: #202f43;
        font-size: 14px;
        letter-spacing: 0.38px;
        &.active {
          padding-bottom: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .catalog-list {
    li {
      padding-left: 0;
      margin-bottom: 10px;
    }
  }
  .catalog-sublist {
    li {
      margin-bottom: 5px;
      padding-left: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #67717e;
        &.active {
          padding: 5px 0 10px;
          color: #263445;
          font-weight: 400;
        }
      }
      .catalog-sublist {
        li {
          padding-left: 10px;
        }
      }
    }
  }
}

.mCS-siteTheme {
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000000;
    border-radius: 0;
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #f3f3f3;
  }
  .mCSB_scrollTools .mCSB_dragger {
    height: 30px !important;
  }
}

/* LINKS SIDEBAR */

.links-sidebar {
  margin: 0 25px;
  margin-bottom: 30px !important;
  padding: 15px 25px;
  width: 100%;
  border: 1px solid @themeColor;
  @media @tablet-w {
    margin-bottom: 50px !important;
  }
  @media @desk-w {
    margin: 0 !important;
    padding: 0;
    border: none;
  }
  .links-list {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    display: none;
    @media @desk-w {
      padding-top: 0;
      display: block !important;
    }
    li {
      margin-bottom: 10px;
      padding: 0;
      list-style: none;
      &:last-child {
        margin-bottom: 0;
      }
      &.children {
        &>a {
          position: relative;
          display: block;
          &:after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0;
            transform: translateY(50%);
            border: 5px solid transparent;
            border-left: 5px solid #202f43;
            transition: transform .3s ease;
          }
          &.active {
            padding-bottom: 15px;
            text-decoration: none;
            @media @mob-w {
              padding-bottom: 5px;
            }
            &:after {
              transform: translateY(50%) rotate(90deg);
            }
          }
        }
        &.first-lvl {
          &>a {
            &.active {
              margin-bottom: 30px;
              border-bottom: 2px solid #263445;
              @media @mob-w {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      ul {
        padding-bottom: 15px;
        display: none;
        @media @mob-w {
          padding-bottom: 5px;
        }
      }
    }
    a {
      color: #202f43;
      font-size: 14px;
      letter-spacing: 0.38px;
      &.active {
        font-weight: bold;
      }
    }
  }
  .links-sidebar-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .8px;
    &:hover,&:focus {
      text-decoration: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0;
      transform: translateY(50%);
      border: 5px solid transparent;
      border-left: 5px solid #202f43;
      transition: transform .3s ease;
    }
    @media @mob-w {
      font-size: 18px;
    }
    &.active {
      &:after {
        transform: translateY(50%) rotate(90deg);
      }
    }
  }
}


/* ABOUT COMPANY */

.about-company-banner {
  margin-bottom: 50px;
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* BRANDS LIST */

ul.brands-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  li {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      height: 90px;
      font-size: 0;
      &:after {
        content: '';
        display: inline-block;
        vertical-align: top;
      }
      img {
        display: inline;
        max-height: 100%;
        max-width: 100%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* SHOP THE LOOK LIST */

.shop-the-look-list {
  margin-bottom: 40px;
  .shop-block {
    margin-bottom: 35px;
    height: 343px;
    .shop-block-info {
      position: absolute;
      left: 0;
      bottom: -100%;
      padding-top: 20px;
      width: 100%;
      transition: bottom .3s ease;
      background-color: #ffffff;
      a {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .8px;
        color: @mainColor;
        &:hover {
          color: #f76d57;
          text-decoration: none;
        }
      }
    }
    &:hover {
      .shop-block-info {
        bottom: 0;
      }
    }
    .product-coast {
      margin-top: 15px;
    }
    .old-coast {
      margin-right: 10px;
      color: #f76d57;
      text-decoration: line-through;
      letter-spacing: 0.8px;
    }
    .coast {
      font-weight: 700;
      letter-spacing: .8px;
    }
  }
}

.custom-select-block {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
  .custom-select-current {
    position: relative;
    padding: 0 15px;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      content: "\e917";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 12px;
      color: @mainColor;
    }
    &.open {
      &:after {
        content: "\e916";
      }
    }
  }
}


.wishlist-body {
  .cart {
    width: 24%;
    &:hover {
      .cart-close {
        opacity: 1;
      }
    }
  }
}

.js__ajax-send {
  position: relative;
  &.sending {
    &:after {
      content: '';
    }
  }
  span.ajax-adding {
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    z-index: 150;
    animation: spin .6s linear infinite;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "\e929";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      
    }
  }
  &.warrning {
    position: relative;
  }
  &.success-adding {
   //color: @hoverColor;
  }
}

.notifyjs-wrapper {
  max-width: 300px; 
  .notifyjs-container {
    max-width: 300px;
    .notifyjs-bootstrap-base {
      border-radius: 0;
      max-width: 100%;
    }
    .notifyjs-bootstrap-error {
      background: #ffffff;
      text-shadow: none;
      color: @themeColor;
      border-color: #f3f3f3;
    }
    span[data-notify-text] {
      max-width: 100%;
      display: block;
      word-wrap: break-word;
    }
  }
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0);
    transform-origin: center;
  }
  100% {
    transform-origin: center;
    transform: translateY(-50%) rotate(360deg);
  }
}
