body,
table {
  font-family: @mainFont;
  font-size: @fontSize;
  line-height: @lineHeight;
  font-weight: @fontWeight;
  color: @mainColor;
}

* {
  box-sizing: border-box;
}

html.uk-touch {
  body {
    *.uk-invisible {
      display: block !important;
      opacity: 1 !important;
      animation: none !important;
      visibility: visible !important;
    }
    [class*=uk-animation-] {
      @media @mob-w {
        animation: none;
      }
      @media @tablet-w {
        animation: none;
      }
    }
  }
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  @media @desk-w {
    padding: 0 20px;
    max-width: @containerWidth;
  }
  &.uk-container-small {
    max-width: 1180px;
  }
  &.uk-container-medium {
    max-width: 1250px;
  }
}

.content {
  padding: 0 90px;
}


h1,
h2,
h3,
h4 {
  color: #253446;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

.content {
  .title {
    margin-bottom: 65px;
    color: #253446;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.uk-slidenav-position .uk-slidenav {
  margin-top: 0 ;
  transform: translateY(-50%);
}
.uk-slidenav {
  width: 20px;
  height: 20px;
  &:hover {
    &:before {
      color: #f76d57;
    }
  }
}

.uk-slidenav-next:before,
.uk-slidenav-previous:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\e90b";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: @mainColor;
  transition: color .3s ease;
}
.uk-slidenav-previous:before {
  content: "\e914";
}
.uk-slidenav.uk-slidenav-contrast {
  display: block;
  color: @mainColor;
}
.uk-slidenav-position .uk-slidenav-previous {
  left: 10px;
}

.uk-slidenav-position .uk-slidenav-next {
  right: 10px;
}
