body,
table {
  font-family: @mainFont;
  font-size: @fontSize;
  line-height: @lineHeight;
  font-weight: @fontWeight;
  color: @mainColor;
}

* {
  box-sizing: border-box;
}

html.uk-touch {
  body {
    *.uk-invisible {
      display: block !important;
      opacity: 1 !important;
      animation: none !important;
      visibility: visible !important;
    }
    [class*=uk-animation-] {
      @media @mob-w {
        animation: none;
      }
      @media @tablet-w {
        animation: none;
      }
    }
  }
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  @media @desk-w {
    padding: 0 20px;
    max-width: @containerWidth;
  }
  &.uk-container-small {
    max-width: 1180px;
  }
  &.uk-container-medium {
    max-width: 1250px;
  }
}

.content {
  padding: 0 90px;
}


h1,
h2,
h3,
h4 {
  color: #253446;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

.content {
  .title {
    margin-bottom: 65px;
    color: #253446;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

