@mob-w: ~"(min-width: 0) and (max-width: 767px)";
@tablet-w: ~"(min-width: 768px) and (max-width: 959px)";
@desk-w: ~"(min-width: 960px)";

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@retina-dpi: ~"(min-resolution: 144dpi)";
@retina-ppx: ~"(min-resolution: 1.5dppx)";

@mainFont: "Circe";

@fontSize: 16px;;
@lineHeight: 21px;
@fontWeight: 400;
@mainColor: #202f43;
@hoverColor: #f76d57;
@themeColor: #263445;
@containerWidth: 1360px;
